
.product-container {
	@extend %flexbox;
	@include flex-flow(column);
	@include flex-wrap(no-wrap);
	@include align-items(center);

	@media #{$mid-point} {
		@include flex-flow(row);
		@include align-items(flex-start);
	}
	
	.product-name { 
		text-align: center;

		@media #{$mid-point} {
			text-align: left;
		}
	}
	
	.product-image {
		@include flex-basis(100%);
		max-width: 90%;

		position: relative;
		box-sizing: border-box;

		@media #{$mid-point} {
			max-width: 30%;
			padding: 15px;
		}

		img {
			border-radius: 10px;
		}
	}

	.product-details {
		flex: 2 1 500px;
		text-align: left;

		@media #{$mid-point} {
			padding: 30px;
		}

		h4 {
			color: $brand-color;
			text-align: center;

			@media #{$mid-point} {
				text-align: left
			}
		}

		.product-options {
			@extend %flexbox;
			@include flex-flow(row wrap);
			@include flex-basis(15%);
			@include flex-grow(1);
			@include flex-shrink(1);
			@include align-items(center);

		}
	
		.product-option {
	
			background-color: rgba(238, 238, 238, 0.582);
			border-radius: 10px;
			padding: 10px;
			margin: 2px;
			text-align: center;
			width: 90%;
			
			h4 {
				color: $font-color-1;
				text-align: center;
			}

			@media #{$mid-point} {
				width: 20%;
				padding: 20px;
				margin: 5px;
			}
		}
	}	
}

.nutrition-info {
	
	@extend %flexbox;
	@include flex-flow(column nowrap );
	@include justify-content(space-evenly);

	@media #{$mid-point} {
		@include flex-flow(row nowrap);
	}

	margin-top: 20px;

	border-top-style: solid;
	border-width: 1px, 0, 0, 0;
	border-top-color: $font-color-1;
	
	padding: 10px;
	h4 {
		color: $brand-color;
	}

	p, table, ul {
		font-size: 0.8em;
		margin: 5px;
	}

	td, th {
		padding-left: 5px;
		padding-right: 5px;
	}

	table {
		text-align: right;
	}

	div {
		width: 90%;
		margin: 15px;
	}
}

.product-list {
	@extend %flexbox;
	@include flex-flow(row wrap);
	@include align-items(flex-end);
	@include justify-content(flex-end);
	@include flex(1, 1, 30%);
	@include align-content(center);
	
	margin: 0 -20px;

	.product {
		@extend %flexbox;
		@include flex-flow(column nowrap);
		@include align-items(center);
	}

	&, > li {
		list-style: none;
		padding: 0;
	}

	> li {
		flex: 1 1 300px;

		&:not(:empty) {
			margin: 20px;
		}
	}

	h4 {
		margin: 10px 0 0 0;
	}

	p {
		line-height: 1;
		margin: 10px 0 0 0;
	}

	.product-description p {
		font-size: 1.1rem;
	}

	img {
		border-radius: 10px;
		max-height: 275px
	}

	.snipcart-add-item {
		-webkit-appearance: none;
		color: #222;
		text-decoration: none;
		border: 0;
		background: none;
		font-weight: bold;
		font-size: 1.2em;
		padding: 10px 15px 15px;
		float: right;
		cursor: pointer;
		line-height: 1;
		margin-top: 10px;

		&:hover {
			background: #f5f5f5;
			color: #000;
		}
	}
}