---
title: About Us
---

<div>
	<h3 class="center-text">The Team</h3>
	<ul class="staff">
		{% for person in site.staff_members %}
			<li>
				<div class="staff-member">
					<div class="staff-intro">
							<div class="staff-image" style="background-image: url({% include relative-src.html src=person.image_path %})"></div>
							<div class="name">{{ person.name }}</div>
					</div>
					<div class="staff-detail"> 
						<div class="blurb">{{person.content | markdownify }}</div>
					</div>
				</div>
			</li>
		{% endfor %}
	</ul>
</div>

