
.product-container {
	@extend %flexbox;
	@include flex-flow(column);
	@include flex-wrap(no-wrap);

	@media print {
		margin: 0;
		@include flex-wrap(wrap);
		page-break-inside: avoid;
		page-break-after: always;
	}

	@media #{$mid-point} {
		@include flex-flow(row);
	}
	
	.product-image {
		@include flex-basis(100%);
		max-width: 90%;

		position: relative;
		box-sizing: border-box;

		@media #{$mid-point} {
			max-width: 30%;
			padding: 15px;
		}

		img {
			border-radius: 10px;
		}
	}

	.product-details {
		flex: 2 1 500px;
		text-align: left;

		@media #{$mid-point} {
			padding: 30px;
		}

		h4 {
			color: $brand-color;
		}

		.product-options {
			@extend %flexbox;
			@include flex-flow(row wrap);
			@include flex-basis(15%);
			@include flex-grow(1);
			@include flex-shrink(1);
			@include align-items(center);

		}
	
		.product-option {
	
			background-color: rgba(238, 238, 238, 0.582);
			border-radius: 10px;
			padding: 10px;
			margin: 2px;
			text-align: center;
			width: 90%;
			
			h4 {
				color: $font-color-1
			}

			@media #{$mid-point} {
				width: 20%;
				padding: 20px;
				margin: 5px;
			}
		}
	}

	.nutrition-info {
	
		@extend %flexbox;
		@include flex-flow(column);
		@include justify-content(space-evenly);
	
		@media #{$mid-point}, print {
			@include flex-flow(row);
		}

		@media print {
			@include flex-flow(column);
			width: 65mm;
			height: 140cmm;
			margin-top: 0px;
			vertical-align: middle;
			border-style: dashed;
			border-width: 1px;
			border-color: #000;
			margin: 0.5mm;
		}
		
		margin-top: 20px;
	
		border-top-style: solid;
		border-width: 1px, 0, 0, 0;
		border-top-color: $font-color-1;
		
		padding: 10px;
		h4 {
			color: $brand-color;
			@media print {
				font-size: 14pt;
			}
		}
	
		p, table, ul {
			font-size: 0.8em;
			margin: 5px;
			@media print {
				font-size: 10pt;
				margin: 2px;
				list-style: none;
			}
		}

		td, th {
			padding-left: 5px;
			padding-right: 5px;
			@media print {
				font-size: 10pt;
				padding-left: 2px;
				padding-right: 2px;
			}
		}
	
		table {
			text-align: right;
		}
	
		div {
			width: 90%;
			margin: 15px;
			@media print {
				margin: 2px;
			}
		}
	}
	
}

.product-list {
	display: flex;
	flex-flow: wrap;
	margin: 0 -20px;

	&, > li {
		list-style: none;
		padding: 0;
	}

	> li {
		flex: 1 1 300px;

		&:not(:empty) {
			margin: 20px;
		}
	}

	h4 {
		margin: 10px 0 0 0;
		padding-right: 100px;
	}

	p {
		line-height: 1;
		margin: 10px 0 0 0;
	}

	.product-description p {
		font-size: 1.1rem;
	}

	img {
		border-radius: 10px;
		max-height: 275px
	}

	.snipcart-add-item {
		-webkit-appearance: none;
		color: #222;
		text-decoration: none;
		border: 0;
		background: none;
		font-weight: bold;
		font-size: 1.2em;
		padding: 10px 15px 15px;
		float: right;
		cursor: pointer;
		line-height: 1;
		margin-top: 10px;

		&:hover {
			background: #f5f5f5;
			color: #000;
		}
	}
}