
.staff-image {
	margin: 25px auto 0 auto;
	background-repeat: no-repeat;
	background-size: contain;
	border-radius: 5px;
	width: 150px;
	height: 150px;	
}

.staff {
	padding: 0;
	list-style: none;
	@extend %flexbox;
	@include flex-flow(wrap);
	text-align: center;
	justify-content: center;

	li {
		padding: 5px 5px;
		flex: 1 1 900px;
		margin: 0 5px;

		@media #{$mid-point} {
			padding: 30px 20px;
			flex: 1 1 900px;
			margin: 0 60px;	
		}
	}

	.square-image {
		height: 300px;
		width: 300px;
		border-radius: 10px;
		background-size: contain;
		background-repeat: no-repeat;
	
		@media #{$mid-point} {
			height: 400px;
			width: 400px;
		}
	}

	.name {
		font-size: 1.2rem;
		margin-top: 20px;
	}

	.position {
		font-size: 1.3rem;
		color: #666;
	}

	.blurb {
		font-size: 0.9rem;
	}

	.staff-member {
		@extend %flexbox;
		@include align-items(center);
		@include flex-flow(column);

		@media #{$mid-point} {
			@include flex-flow(row);
		}
	}

	.staff-detail { 
		padding: 10px;

		@media #{$mid-point} {
			padding: 20px;
			max-width: 80%;
		}
	}
}
