


.staff {
	@extend %flexbox;
	@include flex-flow(column wrap);
	@include align-items(center);
	@include align-content(center);

	@media #{$mid-point} {
		@include align-items(flex-start);
	}

	padding: 0;
	list-style: none;

	li {
		padding: 5px 5px;
		margin: 0 5px;

		@media #{$mid-point} {
			padding: 30px 20px;
			margin: 0 60px;	
		}
	}

	.staff-member {
		@extend %flexbox;
		@include align-items(center);
		@include flex-flow(column);

		@media #{$mid-point} {
			@include flex-flow(row);
		}
	}

	.staff-image {
		margin: 25px auto 0 auto;
		background-repeat: no-repeat;
		background-size: contain;
		border-radius: 5px;
		height: 200px;
		width: 200px;

		@media #{$mid-point} {
			height: 300px;
			width: 300px;
		}
	}

	.staff-name {
		font-size: 1.2rem;
		margin-top: 20px;
		text-align: center;
	}

	.staff-detail { 
		padding: 10px;
		p {
			font-size: 0.9rem;
		}
		@media #{$mid-point} {
			padding: 20px;
		}
	}
}
