<nav>
	<a class="nav-toggle" id="open-nav" href="#">&#9776;</a>
	{% for link in site.data.navigation %}
		{% assign class = "" %}
		{% if link.highlight %}
			{% assign class = class | append: " highlight" %}
		{% endif %}

		{% if link.link == page.url %}
			{% assign class = class | append: " active" %}
		{% endif %}
		<a href="{% include relative-src.html src=link.link %}" class="{{ class }}" {% if link.new_window %}target="_blank"{% endif %}>{{ link.name }}</a>
	{% endfor %}
	<div class="snipcart-summary">
		<a href="#" class="cart snipcart-checkout"><span class="count_btn snipcart-total-items"></span><i style="vertical-align: middle;" class="material-icons">shopping_cart</i></a>
		<a href="#" class="profile snipcart-user-profile"><i class="material-icons">account_box</i><span>Manage My Account</span></a>
	</div>
</nav>
