{% assign colors = "" %}
{% for style in include.product.styles %}
	{% assign colors = colors | append: '|' | append: style.name %}
{% endfor %}
{% assign colors = colors | remove_first: '|' %}
<button class="snipcart-add-item"
	data-item-name="{{ include.product.name }}"
	data-item-id="{{ include.product.sku }}"
	data-item-image="{{ include.product.styles.first.image }}"
	data-item-description="{{ include.product.description }}"
	data-item-custom1-name="Dietary Requirements"
	data-item-url="{{ site.url}}{{ include.product.url }}"
	data-item-price="{{ include.product.price }}"
	data-item-shippable={{ include.product.shippable }}
	{% if include.product.options != nill %}
		data-item-custom2-name="Options"
		{% if include.option != nill %}
			data-item-custom2-options="{{include.product.options | prepend: "|" | prepend: include.option | split: "|" | uniq | compact | join: "|" }}"
		{% else %}
			data-item-custom2-options="{{include.product.options}}"
		{% endif %}
	{% endif %}
	{% if include.product.subscription == true %}
		data-item-payment-interval="Month"
		data-item-payment-interval-count="1"
		{%if include.product.shippable == true %}
			data-item-recurring-shipping=true
		{% endif %}
	{% endif %}>
	{% if include.text %}{{ include.text }}{% else %}Add to cart{% endif %}
</button>
