---
title: Hanmade Homemade
permalink: /new/index.html
---

<div>
	<ul class="headlines">
		{% for headline in site.headlines %}
		<li>
			{% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
			{% if thecycle == 'odd' %}
				<div class="headline img-first">
					<div class="headline-blurb">
						<div class="blurb">{{headline.blurb}}</div>
					</div>
					<div class="headline-image">
						<div class="{{headline.image_direction}}" style="background-image: url({% include relative-src.html src=headline.image_path %})"></div>
					</div>
				</div>
			{% else %}
				<div class="headline img-second">
					<div class="headline-blurb">
							<div class="blurb">{{headline.blurb}}</div>
					</div>
					<div class="headline-image">
						<div class="{{headline.image_direction}}" style="background-image: url({% include relative-src.html src=headline.image_path %})"></div>
					</div>
				</div>
			{% endif %}
		</li>
		{% endfor %}
	</ul>
</div>
