---
layout: default
---
<div class="content">
	<section class="page">
		<div class="container">
			<div class="product-container">
				<div class="product-image">
					<img src="{% include relative-src.html src=page.image_path %}">
				</div>
				<div class="product-info">
					<div class="product-details" id="add">
						<h3>{{ page.name }}</h3>
						<h4>{{ page.description }}</h4>
						
						{{ page.content | markdownify }}

						{% assign product_category = site.product_categories | where: "name", page.product_category | first %}
						{{ product_category.content | markdownify }}

						
						{% assign options_size = page.options | size %}
						{% if options_size >= 1 %} 
							<h4>Available Options</H4>
							<div class="product-options">
							{% for option in page.options  %}
								{% assign productOptionDetail = option.name %}
								{% assign productOptionModifier = option.price_modifier %}
								{% assign productOptionPrice = page.price | plus: productOptionModifier %}

								{% assign price_split = productOptionPrice | round: 2 | split: "." %}
								{% assign integral = price_split[0] %}
								{% assign fractional = price_split[1] | append: "00" | truncate: 2, "" %}
								<div class="product-option">
									<h4>{{productOptionDetail}}</h4>
									<p></p>${{integral}}.{{fractional}}</p>
									<div class="button">{% include snipcart-button.html product=page option=option %}</div>
								</div>
								{% endfor %}
							</div>
						{% else %}
							<h4>${{ page.price }} {% if page.subscription %} per month {% endif %}</h4>
							<div class="button">{% include snipcart-button.html product=page %}</div>
						{% endif %}
					</div>
					<div class="nutrition-info">
						{% include nutritional-info.html product=page %}
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
