---
layout: default
---
<div class="content">
	<section class="page">
		<div class="container">
			<div class="product-container">
				<div class="styles">
					<div class="style">
						<a href="{{ include.page.url }}">
							<img src="{% include relative-src.html src=page.image_path %}">
						</a>
					</div>
				</div>
				<div class="product-details" id="add">
					<h3>{{ page.name }}</h3>
					<h4>{{ page.description }}</h4>
					
					{{ page.description_markdown | markdownify }}

					{% assign product_category = site.product_categories | where: "name", page.product_category | first %}
					{{ product_category.content | markdownify }}

					<h4>${{ page.price }} {% if page.subscription %} per month {% endif %}</h4>
					<div class="button">{% include snipcart-button.html product=page %}</div>
				</div>
			</div>
		</div>
	</section>
</div>
